/* Prevent horizontal overflow */
  
  
  /* Box-sizing for all elements */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    color-scheme: light only;
  }
  
  body, html {
    background-color: white !important;
    color: black !important;
    overflow-x: hidden;

  }